<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <groups>
  <run>
  <include name = "Tittle"/>
  </run>
  </groups>
    <classes>
      <class name="com.excel.utility.ExcelReader"/>
      <class name="com.test.ExceptionTimeOutTest"/>
      <class name="com.test.TestNgBasics"/>
      <class name="com.test.TestNgFeatures"/>
      <class name="com.datadriven.test.HalfEbayTest"/>
      <class name="com.test.InvocationCountTest"/>
     <class name="com.test.GoogleTittleTest">
     <methods>
     <exclude name = "googleSearch"/>
     </methods>
     </class>
      <class name="com.test.GoogleFeatureTest">
      <methods>
      <exclude name = "google.*"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
